/* body {
  background-color: #f1f2f3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  background-color: #0f172a;
  border-radius: 20px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.title {
  color: white;
  text-align: center;
  margin-bottom: 15px;
  font-size: 20px;
}

.display {
  background-color: black;
  color: white;
  width: 95%;
  height: 80px;
  border-radius: 10px;
  text-align: right;
  font-size: 28px;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  height: 60px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
}

.button-number,
.button-ac,
.button-ce,
.button-per {
  background-color: #334155;
  color: white;
}

.button-operator,
.button-equal {
  background-color: #f97316;
  color: white;
}

.button-number:hover,
.button-ac:hover,
.button-ce:hover,
.button-per:hover {
  background-color: #475569;
}

.button-operator:hover,
.button-equal:hover {
  background-color: #fb923c;
}

.button-equal {
  background-color: #f97316;
  color: white;
  grid-column: span 2;
} */

body {
  display: grid;
  background-color: #f1f2f3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  background-color: #0f172a;
  border-radius: 20px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.title {
  color: white;
  text-align: center;
  margin-bottom: 15px;
  font-size: 20px;
}

.display {
  background-color: black;
  color: white;
  width: 95%;
  height: 80px;
  border-radius: 10px;
  text-align: right;
  font-size: 28px;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  height: 60px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
}

.button number,
.button ac,
.button ce,
.button per {
  background-color: #334155;
  color: white;
}

.button operator,
.button equal {
  background-color: #f97316;
  color: white;
}

.button number:hover,
.button ac:hover,
.button ce:hover,
.button per:hover {
  background-color: #475569;
}

.button operator:hover,
.button equal:hover {
  background-color: #fb923c;
}

.button equal {
  background-color: #f97316;
  color: white;
  grid-column: span 2;
}

.b7 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 1;
}

.b8