body {
  background-color: #2f2d2d;
}

.container {
  display: flex;
  background-color: white;
  height: 100vh;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 260px;
}

.display {
  color: white;
  background-color: black;
  width: 100%;
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
}
