body {
  background-color: #9e8c8c;
}

h2 {
  border: 2px solid black;
  display: flex;
  height: 10vh;
  justify-content: center;
  align-items: center;
}

.hero {
  border: 2px solid black;
  display: flex;
  height: 30vh;
  justify-content: center;
  align-items: center;
}

.card-section {
  display: flex;
  gap: 30px;
  justify-content: center;
  color: gray;
  width: 100%px;
  height: 280px;
  border: 2px solid black;
  margin-top: 5px;
}

.grid-item-1 {
  color: blue;
  background-color: aquamarine;
  font-size: 2rem;
  width: 120px;
  height: 120px;
  flex-direction: row;
}

.grid-item-2 {
  color: blue;
  background-color: aquamarine;
  font-size: 2rem;
  width: 120px;
  height: 120px;
  flex-direction: row;
}
.grid-item-3 {
  color: blue;
  background-color: aquamarine;
  font-size: 2rem;
  width: 120px;
  height: 120px;
  flex-direction: row;
}
.grid-item-4 {
  color: blue;
  background-color: aquamarine;
  font-size: 2rem;
  width: 120px;
  height: 120px;
  flex-direction: row;
}
.grid-item-5 {
  color: blue;
  background-color: aquamarine;
  font-size: 2rem;
  width: 120px;
  height: 120px;
  flex-direction: row;
}
.grid-item-6 {
  color: blue;
  background-color: aquamarine;
  font-size: 2rem;
  width: 120px;
  height: 120px;
  flex-direction: row;
}

.grid-item-7 {
  color: blue;
  background-color: aquamarine;
  font-size: 2rem;
  width: 120px;
  height: 120px;
  flex-direction: row;
}
.grid-item-8 {
  color: blue;
  background-color: aquamarine;
  font-size: 2rem;
  width: 120px;
  height: 120px;
  flex-direction: row;
}

footer,
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
