.container {
  display: flex;
  background-color: rgb(215, 215, 198);
  padding: 10px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.box-1 {
  background-color: red;
  margin: 10px;
  padding: 20px;
  font-size: 20px;
}

.box-2 {
  background-color: blue;
  margin: 10px;
  padding: 20px;
  font-size: 20px;
}

.box-3 {
  background-color: green;
  margin: 10px;
  padding: 20px;
  font-size: 20px;
}

.box-4 {
  background-color: lime;
  margin: 10px;
  padding: 20px;
  font-size: 20px;
}

.box-5 {
  background-color: rgba(165, 6, 6, 0.523);
  margin: 10px;
  padding: 20px;
  font-size: 20px;
}

.box-6 {
  background-color: rgb(45, 74, 87);
  margin: 10px;
  padding: 20px;
  font-size: 20px;
}

.box-7 {
  background-color: chocolate;
  margin: 10px;
  padding: 20px;
  font-size: 20px;
}

.box-8 {
  background-color: rgb(118, 161, 240);
  margin: 10px;
  padding: 20px;
  font-size: 20px;
}
