body {
  background-color: #563b3b;
}

h2 {
  border: 2px solid black;
  display: flex;
  height: 10vh;
  justify-content: center;
  align-items: center;
}

.hero {
  border: 2px solid black;
  display: flex;
  height: 30vh;
  justify-content: center;
  align-items: center;
}

.card-section {
  display: flex;
  justify-content: center;
  color: gray;
  width: 100%px;
  height: 180px;
  border: 2px solid black;
  margin-top: 5px;
}

.grid-item {
}
