/* .container {
  background-color: aqua;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  height: 100vh;
  align-items: center;
  font-size: 30px;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 10px;
  flex-wrap: wrap;
}

.item-1 {
  background-color: blue;
  flex-grow: 1;
  flex-shrink: 1;
  width: 50px;
  height: 50px;
  border-radius: 8px;
  border: 1px solid black;
  margin: 20px;
  padding: 20px;
}

.item-2 {
  background-color: red;
  flex-grow: 1;
  flex-shrink: 1;
  width: 50px;
  height: 50px;
  border-radius: 8px;
  border: 1px solid black;
  padding: 20px;
}

.item-3 {
  background-color: lime;
  flex-grow: 1;
  flex-shrink: 1;
  width: 50px;
  height: 50px;
  border-radius: 8px;
  border: 1px solid black;
  padding: 20px;
}

.item-4 {
  background-color: gray;
  flex-grow: 1;
  flex-shrink: 1;
  width: 50px;
  height: 50px;
  border-radius: 8px;
  border: 1px solid black;
  padding: 20px;
} */

.container {
  background-color: aqua;
  height: 100vh;
}
