.container {
  display: flex;
  background-color: rgb(215, 215, 198);
  padding: 10px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
}

.box-1 {
  background-color: red;
  margin: 10px;
  padding: 20px;
  font-size: 20px;
  flex-grow: 1;
}

.box-2 {
  background-color: blue;
  margin: 10px;
  padding: 20px;
  font-size: 20px;
  flex-grow: 1;
}

.box-3 {
  background-color: green;
  margin: 10px;
  padding: 20px;
  font-size: 20px;
  flex-grow: 1;
}

.box-4 {
  background-color: lime;
  margin: 10px;
  padding: 20px;
  font-size: 20px;
  flex-grow: 1;
}
